apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: solr-etl-agent
spec:
  serviceName: "solr-etl-agent"
  replicas: 1
  template:
    metadata:
      labels:
        app: solr-etl-agent-{{ PROJECT_NAME }}
      annotations:
        pod.alpha.kubernetes.io/initialized: "true"
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                  - solr-etl-agent-{{ PROJECT_NAME }}
            topologyKey: kubernetes.io/hostname
      containers:
      - name: solr-etl-agent
        image: {{ SOLR_ETL_AGENT_IMAGE }}
        envFrom:
        - configMapRef:
            name: {{ CONFIG_NAME }}
        ports:
          - containerPort: {{ SOLR_ETL_AGENT_TARGETPORT }}
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 0.1
            memory: 1Gi

        volumeMounts:
        - mountPath: /etc/localtime
          name: hosttime
        - mountPath: /usr/src/app/.tmp
          name: backendLog
      volumes:
       - name: hosttime
         hostPath:
           path: /etc/localtime
       - name: backendLog
         hostPath:
           path: /servicedata/{{ PROJECT_NAME }}/houta/debug_logs/logs
           
      nodeSelector:
        kubernetes.io/hostname: {{ K8S_HOST_IP }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ SOLR_ETL_AGENT_SERVICENAME }}
  labels:
    app: solr-etl-agent-{{ PROJECT_NAME }}
spec:
  ports:
  - name: http
    protocol: TCP
    port: {{ SOLR_ETL_AGENT_PORT }}
    targetPort: {{ SOLR_ETL_AGENT_TARGETPORT }}
  selector:
    app: solr-etl-agent-{{ PROJECT_NAME }}