apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ CONFIG_NAME }}
data:
#------------------- bot-factory-backend-service ---------------------
  BFB_PORT: "15501"
  BFB_MYSQL_DB_SERVER: "{{ MYSQL_SERVICENAME }}:3306"
  BFB_MYSQL_DB_USER: "root"
  BFB_MYSQL_DB_PASSWORD: "password"
  BFB_MONGO_SERVER: "{{ MONGODB_SERVICENAME }}"
  BFB_MONGO_PORT: "27017"
  BFB_CONSUL_SERVER: "{{ CONSUL_SERVICENAME }}:8500/v1/kv/dev"
  BFB_CONSUL_KEY: "te/scenario"
  BFB_CONSUL_APP: "te/app"
  BFB_CONSUL_MAPPING_TABLE: "te/mapping_table"
  BFB_CONSUL_MAPPING_TABLE_ALL: "te/mapping_table_all"
  BFB_DATABASE_TYPE: "mysql"
#------------------- consul -------------------
  TARGET_INTERFACE: "en0"
#------------------- houta -------------------  
  HT_DB_HOST: "{{ MYSQL_SERVICENAME }}:3306"
  HT_MASTER_DB_HOST: "{{ MYSQL_SERVICENAME }}:3306"
  HT_DB_NAME: "emotibot"
  HT_DB_ACCOUNT: "root"
  HT_DB_PASSWORD: "password"
  HT_INDEX_PATH: "BF/login.html"
  HT_WEB_PATH: "http://localhost/"
  HT_WORKING_LINK: "http://172.17.0.1:10901/"
  HT_WORKING_LINK1: "http://172.17.0.1:9120/"
  HT_HTTP_STORAGE: "http://localhost/storage/"
  HT_HTTP_IMG: "http://172.17.0.1:7999/face/detection/detect -d 'image_url="
  HT_HTTP_IMG_IMG: "http://172.17.0.1:7999/face/recognition/verify -d 'image_url_1="
  HT_HTTP_STORAGEWECHAT: "http://172.17.0.1/storageWeChat/"
  HT_HTTP_WEIMI: "http://api.weimi.cc/2/sms/send.html"
  HT_HTTP_PUT: "http://172.17.0.1:8080/memory/rest/cache/put"
  HT_HTTP_QUERY_GET: "http://172.17.0.1:8080/memory/rest/query/get?type=sick&limit=100"
  HT_FASHION_EXPERT: "http://172.17.0.1:7999/fashion_expert -d 'image_url="
  HT_HTTP_FASHION: "http://localhost/"
  HT_HTTP_WAV: "http://localhost/api/APP/"
  HT_PREFIX: "e125"
  HT_OWNER: "shadow,fanerhe,xiaozhuzi"
  HT_CITYTAG: "http://172.17.0.1:8089/memory/rest/query/post"
  HT_WEATHER: "http://172.17.0.1:8082/V2/weather?city_name="
  HT_PORNOGRAPHIC_FILTER: "http://172.17.0.1:7999/pornographic_filter -d 'image_url="
  HT_BEAUTY_FILTER: "http://172.17.0.1:7999/beauty_filter -d 'image_url="
  HT_FACE_LANDMARK: "http://172.17.0.1:7999/face/detection/landmark -d 'image_url="
  HT_FUNCTION_LABEL: "http://172.17.0.1:8089/memory/rest/query/get?type=label&operation=query&invoker=yiyue&userid="
  HT_CARTOON_CAMERA: "http://172.17.0.1:7999/cartoon_camera -d 'image_url="
  HT_EMOTIEYE: "http://172.17.0.1:7999/emotieye -d 'image_url="
  HT_EMOTIEYE1: "http://172.17.0.1:7999/emotieye -d 'app=1' -d 'image_url="
  HT_EMOTIEYE2: "http://172.17.0.1:7999/emotieye -d 'app=1' -d 'upload_id="
  HT_FACESWAP1: "http://172.17.0.1:7999/face_swap -d 'image_url_f="
  HT_FACESWAP2: "http://172.17.0.1:7999/face_swap -d 'upload_id_f="
  HT_FACESWAP3: "http://172.17.0.1:7999/face_swap -d 'celebrity="
  HT_VOICE_EMOTION: "http://172.17.0.1:11801/voice-emotion"
  HT_VIDEO_EMOTION_RECOGNITION: "http://172.17.0.1:7999/video_emotion_recognition/file -F 'video_url="
  HT_CELEBRITY_IDENTIFICATION: "http://172.17.0.1:7999/face/recognition/identify/celebrity -d 'image_url="
  HT_SPEAKER_VERIFICATION: "http://172.17.0.1:11805/speaker-verification"
  HT_HOROSCOPE: "http://172.17.0.1:12601/horoscope/"
  HT_COOKBOOK_LINK: "http://172.17.0.1:14201/cb/V1/find?type=page&pageid="
  HT_BEAUTY_CAMERA: "http://172.17.0.1:7999/beauty_camera -d 'image_url="
  HT_CLOTHES: "http://172.17.0.1:7999/clothes/detection/detect -d 'image_url="
  HT_LDAP_IP: "192.168.1.211"
  HT_LDAP_USER: "ops_auth@office.emotibot.com"
  HT_LDAP_PWD: "Emotibot@sh021"
  HT_LDAP_ONFF: "OFF"
  HT_WEB_PATH_API: "http://localhost/"
  HT_SETTING_API: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/robot_config?app_id="
  HT_PROCESS: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/process_data?app_id="
  HT_KNOWLEDGE: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/knowledge?app_id="
  HT_KNOWLEDGE_CHECK: "http://{{ CONSUL_SERVICENAME }}:8500/v1/kv/dev/"
  HT_KNOWLEDGE_ROLLBACK: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/rollback?app_id="
  HT_USER_CHAT: "OFF"
  HT_DOWNLOAD_URL: "http://console.emotibot.com"
  HT_MANUAL_EDIT: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/manual_edit?app_id="
  HT_TASK_ENGINE: "http://{{ BOT_FACTORY_BACKEND_SERVICE_SERVICENAME }}:15501/"
  HT_ENTITY: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/entity?app_id="
  HT_TOPIC_MOOD: "http://172.17.0.1:10701/cu?UniqueID="
  HT_BUSINESS: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/business?app_id="
  HT_BUSINESS_DOWNLOAD: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/download?app_id="
  HT_BUSINESS_MANUAL: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/manual_business?app_id="
  HT_INTENT_BACKFILL: "http://{{ MULTICUSTOMER_SERVICENAME }}:14501/"
  HT_LOG_OFF: "log"
  HT_DOMAIN: ""
  HT_CORRECTION: "http://172.17.0.1:15901/"
  HT_STATS: "http://{{ BOT_FACTORY_BACKEND_SERVICE_SERVICENAME }}:15501/stats/"
  HT_COMMON_PARSER: "http://172.17.0.1:14901/"
#------------------- mysql -------------------
  MYSQL_HOST: "localhost"
  MYSQL_PORT: "3306"
  MYSQL_ROOT_USER: "root"
  MYSQL_ROOT_PASSWORD: "password"
  MYSQL_AUDIT_HOST: "localhost"
  MYSQL_AUDIT_PORT: "3307"
  MYSQL_AUDIT_ROOT_USER: "root"
  MYSQL_AUDIT_ROOT_PASSWORD: "password"
#------------------- redis -------------------
  REDIS_PORT: "6379"
#------------------- simulate-dc -------------------
  DC_PORT: "10901"
  DC_TASK_ENGINE_URL: "http://{{ TASK_ENGINE_SERVICENAME }}:14101/task_engine/ET"
#------------------- task-engine -------------------
  TE_DOCKER_PORT: "14101"
  TE_REDIS_SERVER_DEFAULT: "{{ REDIS_SERVICENAME }}"
  TE_REDIS_PORT_DEFAULT: "6379"
  TE_REDIS_EXPIRE_TIME: "100"
  TE_LOG_VERBOSE: "INFO"
  TE_HOST_LOG_PATH: "~/debug_logs/task-engine"
  TE_LOG_PATH: "/usr/src/app/log/"
  TE_TIMEOUT: "20"
  TE_WORKERS: "8"
  TE_SCENARIO_FILE: "scenario_ctrip_bamboo.json"
  TE_MONGODB_URI: "172.17.0.1"
  TE_MONGODB_PORT: "27017"
  TE_MONGODB_DATABASE: "task_engine"
  TE_MYSQL_DB_USER: "root"
  TE_MYSQL_DB_PASSWORD: "password"
  TE_MYSQL_DB_SERVER: "{{ MYSQL_SERVICENAME }}:3306"
  TE_LOAD_SCENARIO_FROM_DB: "mysqldb"
  TE_CONFIG_SERVER: "http://{{ CONSUL_SERVICENAME }}:8500/"
  TE_CONFIG_INTERVAL: "5"
  TE_CONFIG_KEY: "dev/te/scenario"
  TE_CONFIG_KEY_SCENARIO_ALL: "dev/te/scenario_all"
  TE_CONFIG_KEY_MAPPING_TABLE: "dev/te/mapping_table"
  TE_CONFIG_KEY_MAPPING_TABLE_ALL: "dev/te/mapping_table_all"
  TE_CONFIG_KEY_APPID_TO_SCENARIOID: "dev/te/app/"
  TE_PARSER_SERVICE_URL: "http://dev1.emotibot.com.cn:14701/parser"
  TE_COMMON_PARSER_SERVICE_URL: "http://common-parser-service:14901/common-parser-service"
  TE_TASK_PARSER_SERVICE_URL: "http://dev1.emotibot.com.cn:12101/tags/parser"
  TE_QQ_SIMILARITY_SERVICE_URL: "http://172.17.0.1:11501/qq_similarity"
#------------------- multicustomer -------------------  
  MC_HTTP_SERVER_PORT: "{{ MULTICUSTOMER_TARGETPORT_1 }}"
  MC_PROCESS_DATA_URI: "process_data"
  MC_PROCESS_ROBOT_CONFIG_URI: "robot_config"
  MC_PROCESS_KNOWLEDGE_URI: "knowledge"
  MC_PROCESS_ENTITY_URI: "entity"
  MC_GET_ENTITY_LIST_URI: "entities"
  MC_ROLLBACK_DATA_URI: "rollback"
  MC_DOWNLOAD_DATA_URI: "download"
  MC_PROCESS_INTENT_URI: "intent"
  MC_PROCESS_MANUAL_EDIT_URI: "manual_edit"
  MC_PROCESS_BACKFILL_URI: "backfill"
  MC_PROCESS_BUSINESS_URI: "business"
  MC_PROCESS_BUSINESS_MANUAL_URI: "manual_business"
  MC_PROCESS_ALGORITHM_URI: "algorithm"
  MC_PROCESS_MANUAL_ENTITY_URI: "manual_entity"
  MC_DATA_ACCESS_URI: "dao"
  MC_CONSUL_DATA_PROCESS_URI: "consul_data"
  MC_CUSTOMER_APPID_BASEPATH: "/usr/src/multicustomer/csv/"
  MC_ENTITY_MAX_LIMIT: "10000"
  MC_ENTITY_SIMILAR_MAX_LIMIT: "5000"
  MC_MYSQL_HOST: "{{ MYSQL_SERVICENAME }}"
  MC_MYSQL_PORT: "{{ MYSQL_PORT }}"
  MC_MYSQL_DATABASE: "multicustomer"
  MC_MYSQL_USER: "{{ MYSQL_USER }}"
  MC_MYSQL_PASS: "{{ MYSQL_PASSWORD }}"
  MC_MONGODB_HOST: "{{ MONGODB_SERVICENAME }}"
  MC_MONGODB_PORT: "{{ MONGODB_PORT }}"
  MC_SOLR_POST_FILE_FULL_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/editorial"
  MC_SOLR_POST_FILE_INCRE_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/editorialincre"
  MC_SOLR_POST_FILE_INTENT_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/3rd/intent"
  MC_SOLR_POST_FILE_REMOVE_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/editorial/deletebyids"
  MC_SOLR_GET_IDS_REMOVE_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/deletebyids?ids="
  MC_SOLR_GET_FIELD_REMOVE_SERVICE: "http://{{ SOLR_ETL_AGENT_SERVICENAME }}:{{ SOLR_ETL_AGENT_PORT }}/editorial/deletebyquery?"
  MC_PROCESS_MANUAL_SCHEDULE_SERVICE: "http://localhost:{{ MULTICUSTOMER_TARGETPORT_1 }}/manual_edit"
  MC_PROCESS_BUSINESS_MANUAL_SCHEDULE_SERVICE: "http://localhost:{{ MULTICUSTOMER_TARGETPORT_1 }}/manual_business"
  MC_NLU_SERVICE: "http://{{ NLU_SERVICENAME }}:{{ NLU_PORT }}/?"
  MC_CONSUL_URL: "http://{{ CONSUL_SERVICENAME }}:{{ CONSUL_PORT }}/v1/kv/dev/"
  MC_WGET_FILE_PATH: "http://houta/Files/settings/"
  MC_PROCESS_ENTITY_MANUAL_SCHEDULE_SERVICE: "http://localhost:{{ MULTICUSTOMER_TARGETPORT_1 }}/manual_entity"
  MC_ENVIRONMENT: "dev"
